{% extends 'base.html' %}
{% load cache markdownify static %}
{% load image_thumb %}

{% block title %}{{ block.super }} - {{ album.title }}{% endblock title %}

{% block content %}

  <h2>{{ album }}</h2>
  <div class="intro">{{ album.about|markdownify }}</div>

  <div class="imagegrid mt-2">
    <div class="row">
      {% for column in columns %}
        <div class="column">
          {% for image in column %}
            {% image_thumb image %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock content %}
