{% extends 'base.html' %}
{% load cache markdownify static %}
{% load image_thumb %}

{% block title %}{{ block.super }} - {{ album.title }}{% endblock title %}

{% block og_image %}
  {# Describes the image that is embedded when sharing to social media #}
  <meta property="og:image" content="{{ og_img_url }}">
  <meta property="og:image:type" content="image/jpg">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
  <meta property="og:title" content="Images by shacker - {{ album.title }}" />
  <meta property="og:description" content="Photography by Scot Hacker - {{ album.about|markdownify }}" />
{% endblock og_image %}

{% block content %}

  <h2>{{ album }}</h2>
  <div class="intro">{{ album.about|markdownify }}</div>

  <div class="imagegrid mt-2">
    <div class="row">
      {% for column in columns %}
        <div class="column">
          {% for image in column %}
            {% image_thumb image %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock content %}
