{% extends 'base.html' %}
{% load cache markdownify %}

{% block title %}images by shacker{% endblock title %}

{% block content %}

  <h2>{{ category }}</h2>
  {{ category.about|markdownify }}

  <div class="imagegrid mt-2">
    <div class="row">
    {% for column in columns %}
      <div class="column">
        {% for image in column %}
          {# Cache each image forever with its flickr ID (None = forever) #}
          {% cache None flickr_thumb image.flickr_id %}
            <a href="{% url "image" image.flickr_id %}">

              {% with image.get_thumbnail as thumbnail  %}
                {% if thumbnail %}
                  <img src="{{ thumbnail.embed_url }}" alt="Thumbnail image for category ({{ thumbnail.title }})">
                  {% else %}
                  <img src="/static/img/default_thumb.jpg" alt="Missing placeholder">
                {% endif %}
              {% endwith %}

            </a>
          {% endcache %}
        {% endfor %}
      </div>
    {% endfor %}
    </div>
  </div>

{% endblock content %}
