{% extends 'base.html' %}
{% load cache %}

{% block title %}images by shacker{% endblock title %}

{% block content %}

    {% for category in categories %}

        {% cache None category_thumb category.slug %}
            <div class="mb-4">
                <a href="{% url 'category' category.slug %}">
                    {% include "partials/gallery/thumbnail.html" with thumbnail=category.get_thumbnail %}
                </a><br />
                <a href="{% url 'category' category.slug %}">{{ category.title }}</a>
            </div>
        {% endcache %}

    {% endfor %}

{% endblock content %}
