{% extends 'base.html' %}
{% load cache %}

{% block title %}{{ block.super }}{% endblock title %}

{% block content %}

  <div class="row">
      {% for album in albums %}
        <div class="row">
          <a href="{% url 'album' album.slug %}">
            {# None = No expiration to cache - expire manually #}
            {% cache None album_thumb album.slug %}
              <div class="col-12 mx-auto mb-4 album_thumb">
                <img
                  class="screen mr-4 rounded"
                  {% if album.cat_thumb.get_thumbnail.embed_url %}
                    src="{{ album.cat_thumb.get_thumbnail.embed_url }}"
                  {% else %}
                    src="/static/img/default_thumb.jpg"
                  {% endif %}
                  alt="Thumbnail image"
                >
                <br /><a href="{% url 'album' album.slug %}">{{ album.title }}</a>
              </div>
            {% endcache %}
        </a>
        </div>
      {% endfor %}
  </div>

{% endblock content %}
