{% extends 'base.html' %}
{% load static cache %}

{% block title %}{{ flickr.title }}{% endblock title %}

{% block content %}

    {% cache None flickr_full img.flickr_id %}
        <h2>{{ flickr.title }}</h2>
        <a
            data-flickr-embed="true"
            href="{{ flickr.page_url }}"
            title="{{ flickr.title }}">
                <img src="{{ flickr.embed_url }}" alt="{{ flickr.title }}">
        </a>
        <p>{{ flickr.description }}</p>
    {% endcache %}

    {% if previous_id %}
        <a href="{% url "image" previous_id %}">Previous</a>
        {% if next_id %}|{% endif %}
    {% endif %}

    {% if next_id %}
        <a href="{% url "image" next_id %}">Next</a>
    {% endif %}

   <p>
       <a href="{{ flickr.page_url }}" target="_blank">
           <img src="{% static "ico/flickr-icon.png" %}" alt="Flickr icon" width="50">
        </a>
    </p>

{% endblock content %}
