{% extends 'base.html' %}
{% load static cache %}

{% block title %}{{ flickr.title }}{% endblock title %}

{% block content %}

  {% cache None flickr_full img.flickr_id %}
    <h2>{{ flickr.title }}</h2>
    <a
      data-flickr-embed="true"
      href="{{ flickr.page_url }}"
      title="{{ flickr.title }}">
      <img src="{{ flickr.embed_url }}" alt="{{ flickr.title }}">
    </a>
    <p>{{ flickr.description }}</p>
  {% endcache %}


  <div class="">


    {% if prev_next_ids.prev %}
      <a href="{% url 'image' img.album.slug prev_next_ids.prev %}" class="btn btn-sm btn-primary">&laquo; Previous</a>
    {% endif %}

    <a href="{% url 'album' img.album.slug %}" class="btn btn-secondary btn-sm">Back to {{ img.album.title }}</a>

    {% if prev_next_ids.next %}
      <a href="{% url 'image' img.album.slug prev_next_ids.next %}" class="btn btn-sm btn-primary">Next &raquo;</a>
    {% endif %}

  </div>

   <p>
    <a href="{{ flickr.page_url }}" target="_blank">
      <img src="{% static "ico/flickr-icon.png" %}" alt="Flickr icon" width="50">
    </a>
  </p>



{% endblock content %}
