{% extends 'base.html' %}
{% load static cache markdownify %}

{% block title %}{{ block.super }} - {{ img_data.title }}{% endblock title %}

{% block og_image %}
  {# Describes the image that is embedded when sharing to social media #}
  <meta property="og:image" content="{{ og_img_url }}">
  <meta property="og:image:type" content="image/jpg">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
  <meta property="og:title" content="{{ img.title }} by shacker" />
{% endblock og_image %}

{% block content %}

  <h2 class="full_img_title">{{ img_data.title }}</h2>

  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Image in BS carousel  -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        {% cache None flickr_full img.flickr_id %}
          <img src="{{ img_data.flickr_embed_url }}" class="img-fluid" alt="{{ img_data.title }}">
        {% endcache %}
      </div>

    <!-- Prev/next controls -->
    {% if prev_next_ids.prev %}
      <a class="carousel-control-prev" href="{% url 'image' prev_next_ids.prev %}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
    {% endif %}

    {% if prev_next_ids.next %}
      <a class="carousel-control-next" href="{% url 'image' prev_next_ids.next %}" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    {% endif %}

    </div>

  </div>

  <!-- Title and caption -->
  <p class="mt-2 image_caption">
    {% if img_data.description %}
      {{ img_data.description|safe }}<br />
    {% endif %}
    <small>
      In <a href="{% url 'album' img.album.slug %}">{{ img.album.title }}</a>.
      Taken: {{ img.taken|date }}
    </small>
  </p>

  <!-- Flickr link -->
   <p>
    <a href="{{ img_data.flickr_page_url }}" target="_blank">
      <img src="{% static "ico/flickr-icon.png" %}" alt="Flickr icon" width="50">
    </a>
  </p>

  <!-- Superuser controls -->
  {% if user.is_superuser %}
    <p class="small muted-text">
      <a href="{% url 'admin:gallery_image_change' img.id %}">Edit</a> |
      <a href="{% url 'refetch' img.flickr_id %}">Refetch</a> |
      <a href="{% url 'flush_cache' img.flickr_id %}">Flush</a>
    </p>
  {% endif %}

{% endblock content %}


{% block extra_js %}
  <script type="text/javascript">
    // Enable keyboard navigation
    $(document).bind('keyup', function(e) {
      if (e.keyCode==39) {
        $('a.carousel-control-next').get(0).click();
      }
      else if (e.keyCode==37) {
        $('a.carousel-control-prev').get(0).click();
      }
    });
  </script>
{% endblock extra_js %}


