body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

/* Top banner color */
.bg-steel {
  background-color: #356282;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.pagination {
    width: 350px;
    margin: auto;
    margin-bottom: 20px;
}

/* Begin imagegrid layout */
.imagegrid * {
  box-sizing: border-box;
}

.imagegrid .row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.imagegrid .column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.imagegrid .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .imagegrid .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .imagegrid .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* End imagegrid layout */

.intro {
  font-family: 'Nunito', sans-serif;

}

h2.full_img_title, p.image_caption {
  color:#4b4b4b;
  font-size: 1.4rem;
}

h2.full_img_title, div.bodycontent, .navbar-brand {
  font-family: 'Roboto Slab', serif;
}

p.image_caption {
  font-family: 'Nunito', sans-serif;
  /* Equivalent to width of a full-size image, so caption isn't wider than image */
  max-width: 1024px;
  font-size: .9rem;
}

.btn {
  font-family: 'Baloo Paaji 2', cursive;
}

.album_thumb a, .bodycontent a {
  color:#537389;
  font-family: 'Roboto Slab', serif;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
}

a.btn {
  color: #e1e8eb;
}

/* Convert homepage thumbnails to square crops at 200px */

img.album-thumb {
  width:200px;
  height:200px;
  object-fit:cover;
}