{% extends 'base.html' %}

{% block title %}images by shacker{% endblock title %}

{% block content %}

    {% for image in images %}

        <div class="mb-4">
            <a href="{% url "image" image.flickr_id %}">
                {% include "partials/gallery/thumbnail.html" with thumbnail=image.get_thumbnail %}
            </a><br />
            <a href="{% url "image" image.flickr_id %}">{{ image.title }}<br />
        </div>

    {% empty %}
        <p>No images to show in this category, sorry.</p>
    {% endfor %}

{% endblock content %}





